modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 25491
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BHMuNs2FXNFNrKQaOW_uKzHdkf8cZNzguXkRXyN0fmn2yNKcLzSlrrtxO6NESBkt8Uw8m3-2dojA9nftVXr9E4w"
VAPID_PRIVATE_KEY = "G1CNESo9GGnsP8L_2H6NSZEO0vf3IpSWG0BLwIo4V3g"
VAPID_EMAIL = "mailto:admin@whereyoudey.app"
